body, label {
	color: #555;
}

#dictionary h1 {
	margin: 60px 0;
	font-weight: 800;
	color: #555;
}

#dictionary h1:hover {
	color: #000;
}

#dictionary .row {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 60px 0;
	background: #eee;
}

.has-success .glyphicon, .has-error .glyphicon {
	top: 24px;
	right: 20px;
}